@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Home", "Employee")</li>
                        <li>@Html.ActionLink("My Details", "My_Details", "Employee")</li>
                        <li>@Html.ActionLink("Update Details", "Edit_My_Details", "Employee")</li>
                        <li>@Html.ActionLink("Salary", "Salary", "Employee")</li>
                        <li>@Html.ActionLink("Tasks", "Task", "Employee")</li>
                        <li>@Html.ActionLink(" Orders", "Orders", "Employee")</li>

                        <li>@Html.ActionLink("Comments", "MediaIndex", "Employee")</li>
                        <li>@Html.ActionLink("Calender", "CalenderIndex", "Employee")</li>
                    </ul>
                    @Html.Partial("Employee_Partial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="~/Dashboard/style.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <title>Employee Management</title>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

</head>
<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="lab la-accusoft"></span><span>Employee Management</span></h2>
        </div><br>
        <div class="sidebar-menu">
            <ul>

                <li>
                    <a href="~/Employee/My_Details"><span class="las la-users"></span><span>My Details</span></a>
                </li>
                <li>
                    <a href="~/Employee/Edit_My_Details"><span class="las la-clipboard-list"></span><span>Edit My Details</span></a>
                </li>
                
                <li>
                    <a href="~/Employee/WorkflowIndex"><span class="las la-clipboard-list"></span><span>My tasks</span></a>
                </li>
                <li>
                    <a href="~/Employee/Orders"><span class="las la-user-circle"></span><span>Orders</span></a>
                </li>
                <li>
                    <a href="~/Employee/MediaIndex" class="tab"><span class="las la-clipboard-list"></span><span>Media</span></a>
                </li>
                <li>
                    <a href="~/Employee/CalenderIndex" class="tab"><span class="las la-clipboard-list"></span><span>Calender</span></a>
                </li>

            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>
                Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here" />
            </div>
            <div class="user-wrapper">
                @*<img src="img/2.jpg" width="40px" height="40px" alt="">*@
                <div>
                    @Html.Partial("Employee_Partial")
                    @*<h4>User Name</h4>
                        <small>Super Admin</small>*@
                </div>
            </div>
        </header>

    </div>

    @RenderBody();




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


