@model IEnumerable<CoffeeShop.Models.OrderDetail>

@{
    ViewBag.Title = "CustomerOrderDetail";
    Layout = "~/Views/Shared/Customer.cshtml";
}

<h2>CustomerOrderDetail</h2>

@using (Html.BeginForm("CustomerOrderDetail", "Customer", FormMethod.Post)) {
        <b>
            Search By :
        </b>
        @Html.RadioButton("searchBy", "Ordername")<text>Order Name</Text>
    <br />
    @Html.TextBox("search")<input type="submit" value="Search" />

    }


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Ordername)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    if (Session["Username"].ToString() == item.Order.Username)
    {


    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Ordername)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>

        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OrderDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.OrderDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OrderDetailId })
        </td>*@
    </tr>}
}

</table>
