@model CoffeeShop.Models.Order

@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/Customer.cshtml";
}

<h2>OrderDetails</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @Model.OrderId

        <dt>
            Name
        <dd>
            @Model.Username
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Model.Email
        </dd>


        <dt>
            Date
        </dt>
        <dd>
            @Model.OrderDate
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@{ 
    Html.RenderAction("CustomerOrderDetail", "Customer");
}