
@{
    ViewBag.Title = "Index";

}
<h2>Categories</h2>

<li>@{Html.RenderAction("CategoryMenu", "Store");}</li>

<h3>Top 10 Items In Our Store</h3>
<ul id="item-list">

    @foreach (var item in Model)
    {

        <li>
            <a href="@Url.Action("Details", "Store", new { id = item.ItemId })">
                <img alt="@item.Title" @*src="@item.file"*@ />
                <br />

                <span>@item.Title</span>
            </a>

            @String.Format("{0:F}", item.Price)$
            <p class="button1">

                @Html.ActionLink("Add to cart", "AddToCart",
          "ShoppingCart", new { id = item.ItemId }, "")
            </p>
        </li>



    }


</ul>


