@model CoffeeShop.Models.WorkFlow

@{
    ViewBag.Title = "WorkFlowDetails";
    Layout = "~/Views/Shared/Employee.cshtml";
}

<div class="main-content">
    <main>

        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.EmployeeRegister.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmployeeRegister.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TaskDescription.TaskName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TaskDescription.TaskName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DueDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DueDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

            </dl>
        </div>

    </main>

</div>