@model IEnumerable<CoffeeShop.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                </td>
            </tr>
        }

    </table>*@
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<div class="main-content">
    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h2>@Model.Count()</h2>
                    <span>Items</span>
                </div>
                <div>
                    <span class="las la-clipboard-list"></span>
                </div>
            </div>
        </div>
        <br />

        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Shop Items</h3>
                        <a href="~/Items/Create"><button>New Items <span class="las la-arrow-right"></span></button></a>
                    </div>
                    <div class="card-body">
                        <div class="table-respnsive">
                            <table width="100%">
                                <thead>
                                    <tr>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Category.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Producer.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Category.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Producer.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Price)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
                                            </td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </main>

</div>