@model IEnumerable<CoffeeShop.Models.WorkFlow>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeRegister.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaskDescription.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeRegister.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaskDescription.TaskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.WorkFlowID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WorkFlowID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.WorkFlowID })
        </td>
    </tr>
}

</table>
